<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div>
    <div>
        <button>
            <a href="/create">Add new employee</a>
        </button>
    </div>
<!--    <div>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <div>-->
<!--                        <form action="/sort" method="post">-->
<!--                            <button type="submit">Sort by age</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <div>-->
<!--                        <form action="/reverse" method="post">-->
<!--                            <button type="submit">Sort by age</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
    <div>
        <div>
            <h1>Employees List</h1>
        </div>
        <div>
            <table border="1px">
                <tr>
                    <th>
                        <a href="/home?option=id">#</a>
                    </th>
                    <th>
                        <a href="/home?option=name">Name</a>
                    </th>
                    <th>
                        <a href="/home?option=age">Age</a>
                    </th>
                    <th>
                        <a href="/home?option=salary">Salary</a>
                    </th>
                    <th>
                        <a href="/home?option=branch">Branch</a>
                    </th>
                    <th colspan="2">Action</th>
                </tr>
                <tr th:each="e, loop:${list}">
                    <td>
                        <a th:href="@{/detail/{id}(id=${e.id})}" th:text="${e.id}"></a>
                    </td>
                    <td>
                        <a th:href="@{/detail/{id}(id=${e.id})}" th:text="${e.name}"></a>
                    </td>
                    <td th:text="${e.age}"></td>
                    <td th:text="${e.salary}"></td>
                    <td th:text="${e.branch.name}"></td>
                    <td>
                        <button>
                            <a th:href="@{/edit/{id}(id=${e.id})}">Edit</a>
                        </button>
                    </td>
                    <td>
                        <button>
                            <a th:href="@{/delete/{id}(id=${e.id})}">Delete</a>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <div>
                            <button th:if="${list.hasPrevious()}">
                                <a th:href="@{/home/(page=${list.number}-1,option=${option})}">Previous</a>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <b th:text="${list.number} + 1"></b>/<b th:text="${list.totalPages}"></b>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button th:if="${list.hasNext()}">
                                <a th:href="@{/home/(page=${list.number}+1,option=${option})}">Next</a>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>